<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//{#DOMAIN#}/static/app.css?{#STATICVERSION#}" />
    <title>SphereCube</title>
</head>

<body>

    <div id="workspace">
    </div>

    <div id="footer">
        <address>SphereCube | on {#DOMAIN#} <small>v {#STATICVERSION#}</small></address>
    </div>

    <script type="text/javascript" src="//{#DOMAIN#}/static/libs/jquery.js?{#STATICVERSION#}"></script>
    <script type="text/javascript" src="//{#DOMAIN#}/static/libs/basket.js?{#STATICVERSION#}"></script>
    <script type="text/javascript" src="//{#DOMAIN#}/static/libs/vue.js?{#STATICVERSION#}"></script>
    <script type="text/javascript" src="//{#DOMAIN#}/static/libs/axios.js?{#STATICVERSION#}"></script>
    <script type="text/javascript" src="//{#DOMAIN#}/static/libs/moment.js?{#STATICVERSION#}"></script>
    <script type="text/javascript" src="//{#DOMAIN#}/static/libs/dragmove.js?{#STATICVERSION#}"></script>
    <script type="text/javascript">
        const DOMAIN = '{#DOMAIN#}';
        const VERSION = '{#STATICVERSION#}';
        var Z = new Date().getTime();
        var MODELS = {};
        var LoadedMODELS = {};
        var METAS = {};
        var LoadedMETAS = {};
        var TYPES = {};
        var LoadedTYPES = {};
        var APP;
        axios.defaults.baseURL = '//' + DOMAIN;
        Init();

        function RPCCALL(method, data, res) {
            axios.post('/api', {
                    id: new Date().getTime(),
                    jsonrpc: '2.0',
                    method: method,
                    params: data
                })
                .then(function(response) {
                    res(response.data.result);
                })
                .catch(function(error) {
                    // TODO: show user-error
                    console.log('AXIOS', error);
                });

        }

        function Init() {
            RPCCALL('ping', {}, () => {
                RPCCALL('config', {}, (res) => {
                    MODELS = res.models;
                    METAS = res.metas;
                    TYPES = res.types;
                    InitAPP();
                });
            });
        }

        function InitAPP() {
            // TODO: splash
            var APPrequires = [];
            for (const [k, v] of Object.entries(MODELS)) {
                APPrequires.push({
                    url: '/static/models/' + v + '.js',
                    unique: VERSION
                });
            };
            for (const [k, v] of Object.entries(METAS)) {
                APPrequires.push({
                    url: '/static/meta/' + v + '.js',
                    unique: VERSION
                });
            };
            for (const [k, v] of Object.entries(TYPES)) {
                APPrequires.push({
                    url: '/static/types/' + v + '.js',
                    unique: VERSION
                });
            };
            console.log('Loading start...');
            basket
                .require(...APPrequires)
                .then(() => {
                    // TODO: unsplash
                    console.log('Loading complete');
                    StartAPP();
                }),
                (error) => {
                    // TODO: show user-error
                    console.log('Basket', error);
                };
        }

        function StartAPP() {
            APP = Vue.createApp({
                data: () => {
                    return {
                        MODELS: MODELS,
                        METAS: METAS,
                        TYPES: TYPES,
                        CARDS: {},
                        search: '',
                        searchres: {}
                    }
                },
                methods: {
                    opencard: function(cid) {
                        //if (!cid in this.$root.CARDS) {
                        this.$root.CARDS[cid] = {
                            cid: cid
                        };
                        //}
                    },
                    reopencard: function(cid) {
                        this.$root.CARDS[cid] = {
                            cid: cid
                        };
                    },
                    closecard: function(cid) {
                        delete this.$root.CARDS[cid];
                    },
                    clearsearch: function() {
                        this.search = '';
                        this.searchres = {};
                    },
                    insearch: function(value, query) {
                        return value.replace(query, function(str) {
                            return '<span class="highlight">' + str + '</span>'
                        })
                    }
                },
                watch: {
                    search(newSearch, oldSearch) {
                        var self = this;
                        if (newSearch != oldSearch) {
                            RPCCALL('search', {
                                query: newSearch
                            }, (res) => {
                                self.searchres = {};
                                Object.assign(self.searchres, res);
                            });
                        } else {
                            self.searchres = {};
                        }
                    }
                },
                template: `<div class="search">
                                <input v-model.trim="search" />
                                <button @click="clearsearch">[c]</button>
                                <div class="searchres" v-if="Object.keys(searchres).length > 0">
                                    <div v-for="(data, key) in searchres" :key="key" :cid="key" class="result" @click="$root.opencard(data.cid)">
                                        <span class="title">{{ data.name }}</span>
                                        <span class="in" v-html="$root.insearch(data.value, search)"></span>
                                    </div>
                                </div>
                            </div>
                            <card v-for="(data, key) in CARDS" :key="key" :cid="key" />`,
            });
            for (const [k, v] of Object.entries(LoadedMODELS)) {
                APP.component(k, v);
            };
            for (const [k, v] of Object.entries(LoadedMETAS)) {
                APP.component(k, v);
            };
            for (const [k, v] of Object.entries(LoadedTYPES)) {
                APP.component(k, v);
            };
            APP.mount('#workspace');
        }
    </script>
</body>

</html>