// out: ../../public/static/app.css

@import "reset.less";
@import "normalize.less";
@import "colors.less";
@import "sizes.less";

html {
    height: 100%;

    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        background-color: @cl-white;
        color: @cl-black;
        font-size: @size-normal;
        line-height: @lineheight;
        width: 100%;
        min-height: 100%;

        #workspace {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 100%;

            div.search {
                position: absolute;
                top: 0;
                right: 0;
                padding: (@size-half / 2);

                input {
                    width: (@size-double*7);
                    border: 1px solid @cl-grey;
                    font-size: (@size-normal*1.05);
                    line-height: (@size-normal*1.4);
                    padding: (@size-half / 3);
                    text-align: center;
                }

                .searchres {
                    display: block;
                    border: 1px solid @cl-grey;
                    padding: (@size-half / 3);
                    position: absolute;
                    right: (@size-half / 3);
                    white-space: nowrap;
                    background-color: lighten(@cl-grey, 30%);

                    .result {
                        display: block;
                        border: 1px solid @cl-grey;
                        padding: (@size-half / 3);
                        min-width: (@size-double*10);
                        cursor: pointer;

                        .title {
                            display: block;
                            font-size: (@size-normal*1.05);
                            font-weight: bolder;
                        }

                        .in {
                            display: block;
                            font-size: (@size-normal*0.8);
                        }

                        .highlight {
                            background-color: lightgoldenrodyellow;
                        }

                    }
                }
            }

            .card {
                position: absolute;
                display: block;
                width: (@size-double*10);
                border: 1px solid @cl-grey;
                background-color: lighten(@cl-grey, 30%);

                &.is-pointer-down {
                    opacity: .5;
                }

                section.meta {
                    position: relative;
                    background-color: lighten(@cl-grey, 20%);
                    display: block;
                    padding: (@size-half / 2);

                    span.title {
                        position: relative;
                        display: block;
                        font-size: (@size-normal*1.05);
                        font-weight: bolder;
                        padding-right: (@size-double*1.2);
                        line-height: (@size-normal*1.4);
                        margin-bottom: (@size-half / 3);
                        cursor: grab;
                    }

                    span.control {
                        position: absolute;
                        right: (@size-half / 4);
                        top: (@size-half / 4);
                    }


                }

                span.meta {
                    position: relative;
                    display: block;
                    border-top: 1px solid @cl-grey;
                    font-size: (@size-normal*0.8);

                    span,
                    div {
                        display: inline-block;
                        position: relative;
                        margin-right: @size-half;
                    }
                }

                section.fields {
                    padding: (@size-half / 2);

                    div.type {
                        border: 1px solid @cl-grey;
                        padding: (@size-half / 2);
                        margin-bottom: (@size-half / 3);

                        dl {
                            display: block;
                            margin-bottom: (@size-half / 3);

                            dt {
                                display: inline-block;
                                width: 7em;
                            }

                            dd {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        #footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            font-size: (@size-normal*0.7);
            padding: (@size-half / 3) @size-normal;
            color: @cl-grey;
        }

        .link {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
