// out: ../../public/static/app.css

@import "reset.less";
@import "normalize.less";
@import "colors.less";
@import "sizes.less";

html {
  height: 100%;

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    background-color: @cl-light-grey;
    background-image: url("./background.png");
    background-position: left top;
    color: @cl-black;
    font-size: @size-normal;
    line-height: @lineheight;
    width: 100%;
    min-height: 100%;

    #workspace {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 100%;

      .spinner-eff {
        position: absolute;
        width: 10em;
        height: 10em;
        left: calc(50% - 5em);
        top: calc(50% - 5em);
      }

      .spinner-eff:before,
      .spinner-eff:after {
        content: "";
        display: block;
      }

      .spinner-eff .spinner-bar:before,
      .spinner-eff .spinner-bar:after {
        content: "";
        display: block;
      }

      .spinner-eff span {
        position: absolute;
        left: calc(50% - 5em);
        top: calc(50% - 1em);
        color: @cl-white;
        font-size: 1.6em;
        width: 10em;
        line-height: 2em;
        text-align: center;
        vertical-align: middle;
        font-family: monospace;
      }

      @property --gradangle {
        syntax: "<angle>";
        inherits: false;
        initial-value: 0deg;
      }

      @-webkit-keyframes ellipse-animation {
        0% {
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;
          --gradangle: 720deg;
        }

        12.5% {
          border-top-left-radius: 0;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;
          transform: rotate(45deg);
        }

        25% {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;
          transform: rotate(90deg);
        }

        37.5% {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 50%;
          transform: rotate(135deg);
        }

        50% {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          transform: rotate(180deg);
        }

        62.5% {
          border-top-left-radius: 50%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          transform: rotate(225deg);
        }

        75% {
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          transform: rotate(270deg);
        }

        87.5% {
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 0;
          transform: rotate(315deg);
        }

        100% {
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;
          transform: rotate(360deg);
          --gradangle: 0deg;
        }
      }

      @keyframes ellipse-animation {
        0% {
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;
          --gradangle: 720deg;
        }

        12.5% {
          border-top-left-radius: 0;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;
          transform: rotate(45deg);
        }

        25% {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;
          transform: rotate(90deg);
        }

        37.5% {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 50%;
          transform: rotate(135deg);
        }

        50% {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          transform: rotate(180deg);
        }

        62.5% {
          border-top-left-radius: 50%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          transform: rotate(225deg);
        }

        75% {
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          transform: rotate(270deg);
        }

        87.5% {
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 0;
          transform: rotate(315deg);
        }

        100% {
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;
          transform: rotate(360deg);
          --gradangle: 0deg;
        }
      }

      .spinner-eff.spinner-eff-5 .ellipse {
        width: 100%;
        height: 100%;
        background-color: @cl-dark-grey;
        border-radius: 50%;
        -webkit-animation: ellipse-animation 1.6s linear 0s infinite;
        animation: ellipse-animation 1.6s linear 0s infinite;
        transform: rotate(0deg);
        background: linear-gradient(var(--gradangle), @cl-dark-grey, @cl-grey);
      }

      div.search {
        position: absolute;
        top: 0;
        right: 0;
        padding: (@size-half / 2);

        input {
          width: (@size-double*7);
          border: 1px solid @cl-grey;
          font-size: (@size-normal*1.05);
          line-height: (@size-normal*1.4);
          padding: (@size-half / 3);
          text-align: center;
          height: 1.2em;
        }

        button {
          height: 2em;
          border: 1px solid @cl-grey;
          padding: 0 @size-half;
        }

        .searchres {
          display: block;
          border: 1px solid @cl-grey;
          padding: (@size-half / 3);
          position: absolute;
          right: (@size-half / 3);
          white-space: nowrap;
          background-color: lighten(@cl-grey, 30%);

          .result {
            display: block;
            border: 1px solid @cl-grey;
            padding: (@size-half / 3);
            min-width: (@size-double*10);
            cursor: pointer;

            .title {
              display: block;
              font-size: (@size-normal*1.05);
              font-weight: bolder;
            }

            .in {
              display: block;
              font-size: (@size-normal*0.8);
            }

            .highlight {
              background-color: lightgoldenrodyellow;
            }
          }
        }
      }

      .card {
        position: absolute;
        display: block;
        min-width: (@size-double*10);
        max-width: (@size-double*20);
        border: 1px solid @cl-grey;
        border-radius: @size-half;
        background-color: lighten(@cl-grey, 30%);

        &.is-pointer-down {
          opacity: 0.5;
        }

        section.meta {
          position: relative;
          background-color: lighten(@cl-grey, 20%);
          display: block;
          padding: 0;
          border-radius: @size-half @size-half 0 0;

          table {
            width: 100%;

            tr {
              td {
                cursor: grab;
                background-color: @cl-dark-grey;
                color: @cl-white;
              }

              td:nth-child(1) {
                border-radius: @size-half 0 0 0;
              }

              td:nth-child(2) {
                border-radius: 0 @size-half 0 0;
                min-width: 3em;
              }
            }

            span.title {
              position: relative;
              display: block;
              font-size: (@size-normal*1.05);
              font-weight: bolder;
              padding: (@size-half / 2) (@size-normal*1.5) (@size-half / 2) @size-half;
              line-height: (@size-normal*1.4);
            }

            span.control {
              color: @cl-white !important;
              display: block;
              text-align: right;
              padding-right: 0.25em;
              height: 1em;
              font-size: 1em;
              line-height: 1em;

              span {
                margin-right: (@size-half / 3);
                display: inline-block;
              }
            }
          }
        }

        span.meta {
          position: relative;
          display: block;
          border-top: 1px solid @cl-grey;
          font-size: (@size-normal*0.7);
          text-align: right;

          span,
          div {
            display: inline-block;
            position: relative;
            margin-right: (@size-half*0.5);
          }

          div {
            display: block;
            margin-right: 0;
          }
        }

        section.fields {
          padding: (@size-half / 3);

          div.type {
            border: 1px solid @cl-grey;
            padding: (@size-half / 3);
            margin-bottom: (@size-half / 3);
            border-radius: (@size-half / 2);

            dl {
              display: block;
              margin-bottom: (@size-half / 3);

              dt {
                display: block;
                font-style: italic;
                font-weight: bold;
                font-size: @size-half;
                line-height: 1.3;
              }

              dd {
                display: block;
                font-size: @size-normal;
                line-height: 1.4;
                padding-left: (@size-half / 2);
              }
            }
          }
        }
      }
    }

    #footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      font-size: (@size-normal*0.7);
      padding: (@size-half / 3) @size-normal;
      color: @cl-black;

      address {
        font-style: normal;
      }
    }

    .link {
      cursor: pointer;
      text-decoration: underline;
      color: @cl-link;
    }

    .pointer {
      cursor: pointer;
      text-decoration: underline;
    }

    .bold {
      font-weight: bold;
    }
  }
}
